body * {
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  width: 275px;
  margin: 0 auto;
  padding: 30px;
}

input {
  height: 22px;
  border-radius: 5px;
  font-size: 16px;
  padding: 5px 10px;
}

#btnAdd {
  cursor: pointer;
  height: 36px;
  border-radius: 5px;
  min-width: 80px;
  background-color: darkgreen;
  color: #fff;
  border-color: darkgreen;
  box-shadow: none;
  transition: 0.3s all;
  font-weight: 500;
  font-size: 16px;
}

#btnAdd:hover {
  background-color: transparent;
  color: darkgreen;
  transition: 0.3s all;
}

#errorText {
  color: red;
  margin-top: 8px;
  transition: 0.3s all;
}

#guestList {
  padding-left: 0px;
  list-style: none;
}

#guestList li {
  display: flex;
  justify-content: space-between;
  margin-block: 10px;
  width: 263px;
  padding: 10px;
  background-color: #ed771d;
  color: #fff;
  border-radius: 5px;
}
